*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: aquamarine;
    font-family: 'Trispace', sans-serif;
}

.logo{
    color: white;
    letter-spacing: 5px;
    font-size: 22px;
    margin-left: 30px;
}

.nav-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    margin-right: 30px;
    height: 120px;
}

.nav-links li{
    list-style: none;
    text-align: right;
}

.nav-links a{
    color: orange;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 23px;   
}

.burger{
    display: none;
    margin-right: 30px;
    cursor: pointer;
}

.burger div{
    width: 30px;
    height: 5px;
    background-color: orange;
    margin: 5px;
    border-radius: 2px;
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        margin-right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: antiquewhite;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        text-align: center;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transform: rotate(45deg) translate(-1px,-3px);
}
.toggle .line3{
    opacity: 0;
}

















